<h1>{{title}}</h1>

<div>
  <button (click)="exportConfig()">EXPORT</button>
</div>

<div id="tabs-placeholder">

  <a *ngFor="let scene of scenes" class="tab-scene" [class.active]="scene === selectedScene" (click)="selectScene(scene)">
    {{scene.name}}
  </a>
  <div id="tab-scene-add" class="tab-scene">+</div>
</div>
<div class="scene-placeholder">
  <scene [scene]="selectedScene"></scene>
</div>
