.tab-scene {
  display: inline-block;
  margin: 1px;
  border: thin solid;
  padding: 3px;
}

.tab-scene:hover {
  cursor: pointer;
  background-color: aliceblue;
}

.tab-scene.active {
  background-color: aquamarine;
}

.scene-placeholder {
  border: thin solid red;
  width: 100%;
  height: 80vh;
}
