<div class="scene"
     [style.background-color]="scene.backgroundColor">
  <div class="scene-content">
    {{scene.backgroundColor}}
    <image-element *ngFor="let imageElement of scene.elements.imageElements" [imageElement]="imageElement"></image-element>
  </div>
</div>
